html {height:101%; min-width: 870px;
  font-size: 100%; color:#2D2D2B;
  /**so users can adjust text size properly**/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/***********BROUGHT FROM OLD SITE****************/
.hide_from_desktop {display:none;}

/*************************************/

body {margin:0; padding:0;
font-family: Verdana, Geneva, sans-serif;
line-height:180%; color:#4d4c4c; font-size:120%;
margin:0; padding:0;}

/***************************GENERIC*********************/
.container {width:100%; height:148px; background:#F9EED9;  margin:0; padding:0;}
.wrap {width:70%;  margin: 0 auto; }
.box_a, .box_b, .box_c {width:30%; float:left;}
/********************************************************/



.container_a {width:100%;  height:148px; 
background:#F9EED9;  margin:0; padding:0;}
.wrap_a {width:70%;  margin: 0 auto; }

.box_aa  {width:30%; margin:auto;
text-align:center;}
.box_aa img {margin-top:15px;}


.clear {clear:both;}/**Float clearing to allow for container**/
img[src="images/bike_spark_logo2.png"]{height:120px;}
img[src="images/bike_spark_logo_small.png"]{height:80px;}
img[src="images/home_logo.jpg"]{margin-top:18px;}



/********/

.container_b {width:100%;  height:70px;
background:#FFFFFF;  margin:0 auto; padding:0; }
.wrap_b {width:70%;  margin:0 auto;
font-weight: 400; font-size: 17px; letter-spacing: 1px; font-style: normal; color:#757575;}

.box_ba, .box_bb, .box_bc, .box_bd, .box_be {width:25%; float:left; 
text-align:center; }


.container_c {width:100%; background-image: url("images/main_3.jpg");
background-repeat :no-repeat; background-size: 100%;
height:200px;  border-top: 1px solid white;}

.wrap_c {display: flex; align-items:center; justify-content: center;height:200px; width:100%; }

.box_ca {width:600px; }
.box_ca p { color:white; font-weight:bold; font-size:120%;}





/*************************ABOUT*******************/
/**h,**/
.container_h {width:100%;  background:#D6C4D6;  margin:0; padding:0;}

.wrap_h {; width:100%;  display:flex; justify-content:center; 
  align-items:start;}


.box_hb {width:770px;
color:grey; font-weight:bold;}

/*****************************************************/



/*******************GALLERY******************/



/************************************************/



.container_d {width:100%; height:220px; background:#D6C4D6;  margin:0; padding:0;}
.wrap_d {width:70%;  margin: 0 auto; }
.box_da, .box_db, .box_dc {width:33%; float:left; text-align:center;
margin-top:60px;color:grey; font-weight:bold;}




.container_e {width:100%;  background:white;  margin:0; padding:0;}
.wrap_e {width:100%;  margin: 0 auto; height:220px; }

.box_ea  {width:49%; height:auto; float:left; 
text-align:center;}

.box_eb, .box_ec {width:25%; height:auto; float:left;
 }
 .box_eb { margin-top:35px; border-left:1px solid black; text-align:left; }
.box_eb p {padding-left:40px;}
.box_ec {margin-top:20px;}
.box_ea img {margin-top:40px; }
img[src="images/youtube.jpg"]{margin-top:0; height:25px;  }
img[src="images/facebook.png"]{margin-top:25px; position:relative; top:2px;}

.copyright_text {font-size: 50%;}



